In [1]:
import pandas

In [2]:
vg = pandas.read_excel('ATLAS_VG.xlsx')
vg

           UTM              Species observadas    Source
0    30TWN1548             Aegithalos caudatus  ATLAS_VG
1    30TWN1548                 Emberiza cirlus  ATLAS_VG
2    30TWN1548              Erithacus rubecula  ATLAS_VG
3    30TWN1548            Phylloscopus bonelli  ATLAS_VG
4    30TWN1548  Phylloscopus ibericuscollybita  ATLAS_VG
..         ...                             ...       ...
967  30TWN3439              Sylvia atricapilla  ATLAS_VG
968  30TWN3439          Tachybaptus ruficollis  ATLAS_VG
969  30TWN3439         Troglodytes troglodytes  ATLAS_VG
970  30TWN3439               Turdus philomelos  ATLAS_VG
971  30TWN3439               Turdus viscivorus  ATLAS_VG

[972 rows x 3 columns]

In [3]:
cuan = pandas.read_excel('CUAN_ANE.xlsx')
cuan

        UTM       Species observadas    Source
0    WN1551      Aegithalos caudatus  CUAN_ANE
1    WN1551         Anthus trivialis  CUAN_ANE
2    WN1551      Carduelis cannabina  CUAN_ANE
3    WN1551      Carduelis carduelis  CUAN_ANE
4    WN1551        Carduelis chloris  CUAN_ANE
..      ...                      ...       ...
353  WN3438       Sylvia atricapilla  CUAN_ANE
354  WN3438  Troglodytes troglodytes  CUAN_ANE
355  WN3438            Turdus merula  CUAN_ANE
356  WN3438        Turdus philomelos  CUAN_ANE
357  WN3438        Turdus viscivorus  CUAN_ANE

[358 rows x 3 columns]

In [4]:
cual = pandas.read_excel('CUAL_ANE.xlsx')
cual

        UTM       Species observadas    Source
0    WN1548         Columba palumbus  CUAL_ANE
1    WN1548            Corvus corone  CUAL_ANE
2    WN1548          Cuculus canorus  CUAL_ANE
3    WN1548          Emberiza cirlus  CUAL_ANE
4    WN1548       Erithacus rubecula  CUAL_ANE
..      ...                      ...       ...
377  WN3439       Sylvia atricapilla  CUAL_ANE
378  WN3439  Troglodytes troglodytes  CUAL_ANE
379  WN3439            Turdus merula  CUAL_ANE
380  WN3439        Turdus philomelos  CUAL_ANE
381  WN3439        Turdus viscivorus  CUAL_ANE

[382 rows x 3 columns]

In [5]:
print(vg.shape)

locations = vg['UTM']
locations = list(set(locations))

extra = 0
for location in locations:
    print(location)
    
    old_location = location.replace('30T', '')
    
    subset_cuan = cuan[cuan['UTM'] == old_location]
    subset_vg = vg[vg['UTM'] == location]

    species_vg = subset_vg['Species observadas'].to_list()
    species_cuan = subset_cuan['Species observadas'].to_list()

    #print(species_vg)
    #print(species_cuan)

    print('\t species in vg, species in cuan', len(species_vg), len(species_cuan))

    for species in species_cuan:
        if species not in species_vg:
            print('\t\t', 'adding from cuan', species, 'on', old_location)
            new_record = subset_cuan[subset_cuan['Species observadas'] == species]
            extra = extra + 1
            vg = pandas.concat([new_record, vg])
        else:
            print('\t\t\t', 'not adding from cual', species, 'on', old_location)

# checking on size
print(vg.shape, extra)
print(vg.shape[0] - extra)

(972, 3)
30TWN2752
	 species in vg, species in cuan 29 19
			 not adding from cual Alauda arvensis on WN2752
			 not adding from cual Alectoris rufa on WN2752
		 adding from cuan Anthus campestris on WN2752
			 not adding from cual Apus apus on WN2752
		 adding from cuan Aquila pennata on WN2752
		 adding from cuan Carduelis chloris on WN2752
			 not adding from cual Corvus corone on WN2752
			 not adding from cual Coturnix coturnix on WN2752
			 not adding from cual Emberiza calandra on WN2752
		 adding from cuan Galerida cristata on WN2752
			 not adding from cual Hippolais polyglotta on WN2752
			 not adding from cual Motacilla flava on WN2752
		 adding from cuan Parus major on WN2752
			 not adding from cual Pica pica on WN2752
		 adding from cuan Picus viridis on WN2752
			 not adding from cual Saxicola rubicola on WN2752
			 not adding from cual Sylvia atricapilla on WN2752
			 not adding from cual Troglodytes troglodytes on WN2752
			 not adding from cual Turdus merula on WN2752
30TWN2743
	 species in vg, species in cuan 24 0
30TWN2850
	 species in vg, species in cuan 31 28
			 not adding from cual Alauda arvensis on WN2850
		 adding from cuan Alectoris rufa on WN2850
			 not adding from cual Anthus trivialis on WN2850
			 not adding from cual Apus apus on WN2850
		 adding from cuan Bubulcus ibis on WN2850
		 adding from cuan Carduelis cannabina on WN2850
			 not adding from cual Carduelis carduelis on WN2850
		 adding from cuan Carduelis chloris on WN2850
			 not adding from cual Cettia cetti on WN2850
			 not adding from cual Columba palumbus on WN2850
			 not adding from cual Corvus corone on WN2850
		 adding from cuan Coturnix coturnix on WN2850
			 not adding from cual Cuculus canorus on WN2850
			 not adding from cual Emberiza calandra on WN2850
			 not adding from cual Erithacus rubecula on WN2850
		 adding from cuan Fringilla coelebs on WN2850
			 not adding from cual Hippolais polyglotta on WN2850
		 adding from cuan Hirundo rustica on WN2850
		 adding from cuan Lullula arborea on WN2850
			 not adding from cual Parus major on WN2850
		 adding from cuan Phylloscopus ibericus on WN2850
		 adding from cuan Saxicola rubicola on WN2850
			 not adding from cual Serinus serinus on WN2850
			 not adding from cual Sylvia atricapilla on WN2850
		 adding from cuan Tadorna ferruginea on WN2850
			 not adding from cual Troglodytes troglodytes on WN2850
			 not adding from cual Turdus merula on WN2850
			 not adding from cual Upupa epops on WN2850
30TWN2341
	 species in vg, species in cuan 57 14
		 adding from cuan Carduelis chloris on WN2341
			 not adding from cual Columba palumbus on WN2341
			 not adding from cual Dendrocopos major on WN2341
			 not adding from cual Erithacus rubecula on WN2341
			 not adding from cual Fringilla coelebs on WN2341
			 not adding from cual Garrulus glandarius on WN2341
			 not adding from cual Parus major on WN2341
			 not adding from cual Pica pica on WN2341
		 adding from cuan Picus viridis on WN2341
			 not adding from cual Regulus ignicapilla on WN2341
			 not adding from cual Sitta europaea on WN2341
			 not adding from cual Sylvia atricapilla on WN2341
			 not adding from cual Turdus merula on WN2341
			 not adding from cual Turdus philomelos on WN2341
30TWN1648
	 species in vg, species in cuan 43 7
		 adding from cuan Carduelis cannabina on WN1648
			 not adding from cual Carduelis carduelis on WN1648
			 not adding from cual Corvus corone on WN1648
			 not adding from cual Gallinula chloropus on WN1648
			 not adding from cual Motacilla alba on WN1648
			 not adding from cual Parus major on WN1648
			 not adding from cual Pica pica on WN1648
30TWN3438
	 species in vg, species in cuan 37 16
			 not adding from cual Certhia brachydactyla on WN3438
			 not adding from cual Columba palumbus on WN3438
			 not adding from cual Cuculus canorus on WN3438
			 not adding from cual Cyanistes caeruleus on WN3438
			 not adding from cual Dendrocopos major on WN3438
			 not adding from cual Erithacus rubecula on WN3438
			 not adding from cual Fringilla coelebs on WN3438
		 adding from cuan Phylloscopus ibericus on WN3438
		 adding from cuan Pyrrhula pyrrhula on WN3438
			 not adding from cual Regulus ignicapilla on WN3438
			 not adding from cual Sitta europaea on WN3438
			 not adding from cual Sylvia atricapilla on WN3438
			 not adding from cual Troglodytes troglodytes on WN3438
			 not adding from cual Turdus merula on WN3438
			 not adding from cual Turdus philomelos on WN3438
			 not adding from cual Turdus viscivorus on WN3438
30TWN2346
	 species in vg, species in cuan 14 0
30TWN2945
	 species in vg, species in cuan 77 25
			 not adding from cual Acrocephalus arundinaceus on WN2945
			 not adding from cual Anas platyrhynchos on WN2945
			 not adding from cual Apus apus on WN2945
		 adding from cuan Aquila pennata on WN2945
		 adding from cuan Bubulcus ibis on WN2945
			 not adding from cual Carduelis carduelis on WN2945
			 not adding from cual Cettia cetti on WN2945
			 not adding from cual Ciconia ciconia on WN2945
			 not adding from cual Cyanistes caeruleus on WN2945
		 adding from cuan Larus fuscus on WN2945
		 adding from cuan Lullula arborea on WN2945
			 not adding from cual Luscinia megarhynchos on WN2945
			 not adding from cual Motacilla flava on WN2945
			 not adding from cual Nycticorax nycticorax on WN2945
			 not adding from cual Parus major on WN2945
			 not adding from cual Phoenicurus ochruros on WN2945
			 not adding from cual Pica pica on WN2945
		 adding from cuan Picus viridis on WN2945
			 not adding from cual Riparia riparia on WN2945
		 adding from cuan Saxicola rubicola on WN2945
			 not adding from cual Serinus serinus on WN2945
			 not adding from cual Sturnus unicolor on WN2945
			 not adding from cual Sylvia atricapilla on WN2945
			 not adding from cual Turdus merula on WN2945
			 not adding from cual Turdus philomelos on WN2945
30TWN2638
	 species in vg, species in cuan 21 0
30TWN2837
	 species in vg, species in cuan 10 0
30TWN3039
	 species in vg, species in cuan 14 0
30TWN1746
	 species in vg, species in cuan 18 0
30TWN2943
	 species in vg, species in cuan 30 22
			 not adding from cual Alauda arvensis on WN2943
			 not adding from cual Anas platyrhynchos on WN2943
		 adding from cuan Carduelis cannabina on WN2943
		 adding from cuan Carduelis chloris on WN2943
			 not adding from cual Ciconia ciconia on WN2943
		 adding from cuan Columba livia on WN2943
		 adding from cuan Corvus corone on WN2943
		 adding from cuan Corvus monedula on WN2943
			 not adding from cual Galerida cristata on WN2943
			 not adding from cual Hippolais polyglotta on WN2943
		 adding from cuan Motacilla alba on WN2943
		 adding from cuan Motacilla flava on WN2943
		 adding from cuan Oenanthe oenanthe on WN2943
			 not adding from cual Passer domesticus on WN2943
			 not adding from cual Phoenicurus ochruros on WN2943
			 not adding from cual Pica pica on WN2943
		 adding from cuan Picus viridis on WN2943
		 adding from cuan Riparia riparia on WN2943
			 not adding from cual Serinus serinus on WN2943
			 not adding from cual Sturnus unicolor on WN2943
			 not adding from cual Sylvia atricapilla on WN2943
			 not adding from cual Turdus merula on WN2943
30TWN2736
	 species in vg, species in cuan 33 28
			 not adding from cual Alauda arvensis on WN2736
		 adding from cuan Anthus trivialis on WN2736
		 adding from cuan Carduelis cannabina on WN2736
			 not adding from cual Carduelis carduelis on WN2736
		 adding from cuan Carduelis chloris on WN2736
		 adding from cuan Ciconia ciconia on WN2736
		 adding from cuan Circus cyaneus on WN2736
			 not adding from cual Columba palumbus on WN2736
			 not adding from cual Corvus corax on WN2736
			 not adding from cual Corvus corone on WN2736
			 not adding from cual Cuculus canorus on WN2736
			 not adding from cual Cyanistes caeruleus on WN2736
		 adding from cuan Dendrocopos major on WN2736
		 adding from cuan Dryocopus martius on WN2736
			 not adding from cual Emberiza calandra on WN2736
			 not adding from cual Erithacus rubecula on WN2736
			 not adding from cual Fringilla coelebs on WN2736
		 adding from cuan Lophophanes cristatus on WN2736
			 not adding from cual Parus major on WN2736
		 adding from cuan Phoenicurus ochruros on WN2736
		 adding from cuan Phylloscopus ibericus on WN2736
			 not adding from cual Serinus serinus on WN2736
			 not adding from cual Sylvia atricapilla on WN2736
		 adding from cuan Sylvia borin on WN2736
		 adding from cuan Sylvia communis on WN2736
			 not adding from cual Troglodytes troglodytes on WN2736
			 not adding from cual Turdus merula on WN2736
			 not adding from cual Turdus philomelos on WN2736
30TWN1938
	 species in vg, species in cuan 20 0
30TWN1548
	 species in vg, species in cuan 8 0
30TWN1747
	 species in vg, species in cuan 39 7
			 not adding from cual Buteo buteo on WN1747
			 not adding from cual Luscinia megarhynchos on WN1747
			 not adding from cual Passer domesticus on WN1747
		 adding from cuan Phoenicurus ochruros on WN1747
		 adding from cuan Phylloscopus ibericus on WN1747
		 adding from cuan Streptopelia decaocto on WN1747
			 not adding from cual Sturnus unicolor on WN1747
30TWN2443
	 species in vg, species in cuan 41 10
		 adding from cuan Carduelis chloris on WN2443
		 adding from cuan Columba livia on WN2443
			 not adding from cual Erithacus rubecula on WN2443
		 adding from cuan Gyps fulvus on WN2443
			 not adding from cual Passer domesticus on WN2443
			 not adding from cual Phoenicurus ochruros on WN2443
			 not adding from cual Pica pica on WN2443
			 not adding from cual Sturnus unicolor on WN2443
			 not adding from cual Sylvia atricapilla on WN2443
			 not adding from cual Turdus merula on WN2443
30TWN2842
	 species in vg, species in cuan 39 20
			 not adding from cual Alauda arvensis on WN2842
			 not adding from cual Apus apus on WN2842
		 adding from cuan Carduelis chloris on WN2842
		 adding from cuan Ciconia ciconia on WN2842
		 adding from cuan Columba livia on WN2842
			 not adding from cual Corvus corone on WN2842
			 not adding from cual Emberiza calandra on WN2842
			 not adding from cual Emberiza cirlus on WN2842
			 not adding from cual Falco tinnunculus on WN2842
			 not adding from cual Hippolais polyglotta on WN2842
			 not adding from cual Lanius collurio on WN2842
		 adding from cuan Milvus migrans on WN2842
			 not adding from cual Parus major on WN2842
			 not adding from cual Passer domesticus on WN2842
			 not adding from cual Phoenicurus ochruros on WN2842
			 not adding from cual Pica pica on WN2842
		 adding from cuan Saxicola rubicola on WN2842
			 not adding from cual Sturnus unicolor on WN2842
			 not adding from cual Sylvia atricapilla on WN2842
			 not adding from cual Turdus merula on WN2842
30TWN2749
	 species in vg, species in cuan 22 0
30TWN3439
	 species in vg, species in cuan 25 0
30TWN2343
	 species in vg, species in cuan 59 0
30TWN2636
	 species in vg, species in cuan 40 29
		 adding from cuan Aegithalos caudatus on WN2636
			 not adding from cual Anthus trivialis on WN2636
		 adding from cuan Carduelis cannabina on WN2636
		 adding from cuan Carduelis carduelis on WN2636
		 adding from cuan Carduelis chloris on WN2636
			 not adding from cual Certhia brachydactyla on WN2636
			 not adding from cual Columba palumbus on WN2636
			 not adding from cual Corvus corone on WN2636
		 adding from cuan Coturnix coturnix on WN2636
			 not adding from cual Cuculus canorus on WN2636
			 not adding from cual Cyanistes caeruleus on WN2636
			 not adding from cual Emberiza cirlus on WN2636
			 not adding from cual Erithacus rubecula on WN2636
			 not adding from cual Fringilla coelebs on WN2636
		 adding from cuan Gyps fulvus on WN2636
			 not adding from cual Motacilla alba on WN2636
		 adding from cuan Neophron percnopterus on WN2636
			 not adding from cual Parus major on WN2636
			 not adding from cual Phoenicurus ochruros on WN2636
		 adding from cuan Phylloscopus bonelli on WN2636
		 adding from cuan Phylloscopus ibericus on WN2636
			 not adding from cual Prunella modularis on WN2636
			 not adding from cual Pyrrhula pyrrhula on WN2636
			 not adding from cual Saxicola rubicola on WN2636
			 not adding from cual Serinus serinus on WN2636
			 not adding from cual Sylvia atricapilla on WN2636
			 not adding from cual Troglodytes troglodytes on WN2636
			 not adding from cual Turdus merula on WN2636
			 not adding from cual Turdus philomelos on WN2636
30TWN1651
	 species in vg, species in cuan 1 0
30TWN2646
	 species in vg, species in cuan 39 13
			 not adding from cual Apus apus on WN2646
		 adding from cuan Carduelis cannabina on WN2646
			 not adding from cual Carduelis carduelis on WN2646
		 adding from cuan Carduelis chloris on WN2646
		 adding from cuan Columba livia on WN2646
			 not adding from cual Emberiza cirlus on WN2646
			 not adding from cual Milvus migrans on WN2646
			 not adding from cual Passer domesticus on WN2646
			 not adding from cual Phoenicurus ochruros on WN2646
			 not adding from cual Pica pica on WN2646
		 adding from cuan Picus viridis on WN2646
			 not adding from cual Sturnus unicolor on WN2646
			 not adding from cual Turdus merula on WN2646
30TWN2249
	 species in vg, species in cuan 48 18
			 not adding from cual Aegithalos caudatus on WN2249
			 not adding from cual Apus apus on WN2249
		 adding from cuan Carduelis cannabina on WN2249
		 adding from cuan Carduelis chloris on WN2249
		 adding from cuan Columba livia on WN2249
			 not adding from cual Corvus corone on WN2249
		 adding from cuan Corvus monedula on WN2249
			 not adding from cual Erithacus rubecula on WN2249
			 not adding from cual Fringilla coelebs on WN2249
			 not adding from cual Hirundo rustica on WN2249
			 not adding from cual Oriolus oriolus on WN2249
			 not adding from cual Passer domesticus on WN2249
			 not adding from cual Phoenicurus ochruros on WN2249
			 not adding from cual Pica pica on WN2249
		 adding from cuan Streptopelia decaocto on WN2249
			 not adding from cual Sturnus unicolor on WN2249
			 not adding from cual Sylvia atricapilla on WN2249
			 not adding from cual Turdus merula on WN2249
30TWN3038
	 species in vg, species in cuan 26 23
			 not adding from cual Aegithalos caudatus on WN3038
		 adding from cuan Alauda arvensis on WN3038
			 not adding from cual Anthus trivialis on WN3038
			 not adding from cual Certhia brachydactyla on WN3038
			 not adding from cual Columba palumbus on WN3038
			 not adding from cual Cuculus canorus on WN3038
			 not adding from cual Cyanistes caeruleus on WN3038
		 adding from cuan Dendrocopos major on WN3038
		 adding from cuan Emberiza calandra on WN3038
			 not adding from cual Emberiza cirlus on WN3038
			 not adding from cual Erithacus rubecula on WN3038
			 not adding from cual Fringilla coelebs on WN3038
			 not adding from cual Garrulus glandarius on WN3038
			 not adding from cual Phylloscopus bonelli on WN3038
		 adding from cuan Phylloscopus ibericus on WN3038
		 adding from cuan Prunella modularis on WN3038
		 adding from cuan Pyrrhula pyrrhula on WN3038
		 adding from cuan Regulus ignicapilla on WN3038
			 not adding from cual Sylvia atricapilla on WN3038
			 not adding from cual Troglodytes troglodytes on WN3038
			 not adding from cual Turdus merula on WN3038
			 not adding from cual Turdus philomelos on WN3038
			 not adding from cual Turdus viscivorus on WN3038
30TWN1839
	 species in vg, species in cuan 30 20
			 not adding from cual Apus apus on WN1839
		 adding from cuan Carduelis chloris on WN1839
		 adding from cuan Cisticola juncidis on WN1839
			 not adding from cual Columba palumbus on WN1839
			 not adding from cual Cuculus canorus on WN1839
		 adding from cuan Dendrocopos major on WN1839
			 not adding from cual Emberiza calandra on WN1839
			 not adding from cual Emberiza cirlus on WN1839
			 not adding from cual Erithacus rubecula on WN1839
		 adding from cuan Falco tinnunculus on WN1839
			 not adding from cual Fringilla coelebs on WN1839
			 not adding from cual Hippolais polyglotta on WN1839
		 adding from cuan Lullula arborea on WN1839
		 adding from cuan Luscinia megarhynchos on WN1839
			 not adding from cual Parus major on WN1839
			 not adding from cual Passer domesticus on WN1839
		 adding from cuan Petronia petronia on WN1839
			 not adding from cual Sylvia atricapilla on WN1839
			 not adding from cual Turdus merula on WN1839
		 adding from cuan Turdus philomelos on WN1839
30TWN2449
	 species in vg, species in cuan 45 18
			 not adding from cual Apus apus on WN2449
		 adding from cuan Bubulcus ibis on WN2449
		 adding from cuan Carduelis cannabina on WN2449
		 adding from cuan Carduelis chloris on WN2449
			 not adding from cual Corvus corone on WN2449
			 not adding from cual Erithacus rubecula on WN2449
			 not adding from cual Hippolais polyglotta on WN2449
			 not adding from cual Hirundo rustica on WN2449
			 not adding from cual Luscinia megarhynchos on WN2449
			 not adding from cual Milvus migrans on WN2449
			 not adding from cual Parus major on WN2449
			 not adding from cual Passer domesticus on WN2449
		 adding from cuan Phylloscopus ibericus on WN2449
			 not adding from cual Prunella modularis on WN2449
			 not adding from cual Serinus serinus on WN2449
			 not adding from cual Sylvia atricapilla on WN2449
			 not adding from cual Sylvia borin on WN2449
			 not adding from cual Turdus merula on WN2449
30TWN2741
	 species in vg, species in cuan 52 0
(1070, 3) 98
972

In [6]:
print(vg.shape)

locations = vg['UTM']
locations = list(set(locations))

extra = 0
for location in locations:
    print(location)
    
    old_location = location.replace('30T', '')
    
    subset_cual = cual[cual['UTM'] == old_location]
    subset_vg = vg[vg['UTM'] == location]

    species_vg = subset_vg['Species observadas'].to_list()
    species_cual = subset_cual['Species observadas'].to_list() 

    print('\t species in vg, species in cual', len(species_vg), len(species_cual))

    for species in species_cual:
        if species not in species_vg:
            print('\t\t', 'adding from cual', species, 'on', old_location)
            new_record = subset_cual[subset_cual['Species observadas'] == species]
            extra = extra + 1
            vg = pandas.concat([new_record, vg])
        else:
            print('\t\t\t', 'not adding from cual', species, 'on', old_location)

# checking on size
print(vg.shape, extra)
print(vg.shape[0] - extra)

(1070, 3)
WN1839
	 species in vg, species in cual 8 0
30TWN2752
	 species in vg, species in cual 29 0
30TWN2743
	 species in vg, species in cual 24 12
			 not adding from cual Apus apus on WN2743
		 adding from cual Carduelis chloris on WN2743
		 adding from cual Ciconia ciconia on WN2743
		 adding from cual Columba livia on WN2743
		 adding from cual Corvus monedula on WN2743
			 not adding from cual Passer domesticus on WN2743
			 not adding from cual Phoenicurus ochruros on WN2743
			 not adding from cual Pica pica on WN2743
			 not adding from cual Serinus serinus on WN2743
		 adding from cual Streptopelia decaocto on WN2743
			 not adding from cual Sylvia atricapilla on WN2743
			 not adding from cual Turdus merula on WN2743
30TWN2850
	 species in vg, species in cual 31 0
30TWN2341
	 species in vg, species in cual 57 0
WN2341
	 species in vg, species in cual 2 0
WN2449
	 species in vg, species in cual 4 0
30TWN1648
	 species in vg, species in cual 43 0
WN3038
	 species in vg, species in cual 7 0
WN2850
	 species in vg, species in cual 11 0
30TWN2346
	 species in vg, species in cual 14 24
			 not adding from cual Anas platyrhynchos on WN2346
			 not adding from cual Apus apus on WN2346
		 adding from cual Carduelis chloris on WN2346
		 adding from cual Cettia cetti on WN2346
		 adding from cual Columba livia on WN2346
		 adding from cual Columba palumbus on WN2346
		 adding from cual Corvus corone on WN2346
		 adding from cual Delichon urbicum on WN2346
		 adding from cual Erithacus rubecula on WN2346
		 adding from cual Falco tinnunculus on WN2346
		 adding from cual Gallinula chloropus on WN2346
		 adding from cual Hirundo rustica on WN2346
		 adding from cual Luscinia megarhynchos on WN2346
		 adding from cual Motacilla flava on WN2346
		 adding from cual Parus major on WN2346
		 adding from cual Passer domesticus on WN2346
		 adding from cual Passer montanus on WN2346
		 adding from cual Pica pica on WN2346
		 adding from cual Picus sharpei on WN2346
			 not adding from cual Prunella modularis on WN2346
		 adding from cual Saxicola rubicola on WN2346
			 not adding from cual Serinus serinus on WN2346
			 not adding from cual Sylvia atricapilla on WN2346
			 not adding from cual Turdus merula on WN2346
30TWN3438
	 species in vg, species in cual 37 0
WN1648
	 species in vg, species in cual 1 0
WN2842
	 species in vg, species in cual 5 0
WN2752
	 species in vg, species in cual 6 0
30TWN2945
	 species in vg, species in cual 77 0
30TWN2638
	 species in vg, species in cual 21 26
			 not adding from cual Aegithalos caudatus on WN2638
		 adding from cual Anthus trivialis on WN2638
		 adding from cual Carduelis carduelis on WN2638
		 adding from cual Carduelis chloris on WN2638
		 adding from cual Columba palumbus on WN2638
			 not adding from cual Corvus corax on WN2638
			 not adding from cual Corvus corone on WN2638
		 adding from cual Cuculus canorus on WN2638
			 not adding from cual Cyanistes caeruleus on WN2638
		 adding from cual Dendrocopos major on WN2638
			 not adding from cual Emberiza cirlus on WN2638
		 adding from cual Erithacus rubecula on WN2638
			 not adding from cual Fringilla coelebs on WN2638
		 adding from cual Lophophanes cristatus on WN2638
			 not adding from cual Milvus migrans on WN2638
		 adding from cual Parus major on WN2638
		 adding from cual Passer domesticus on WN2638
		 adding from cual Phylloscopus ibericus/collybita on WN2638
		 adding from cual Picus sharpei on WN2638
		 adding from cual Pyrrhula pyrrhula on WN2638
			 not adding from cual Regulus ignicapilla on WN2638
		 adding from cual Serinus serinus on WN2638
			 not adding from cual Sylvia atricapilla on WN2638
		 adding from cual Troglodytes troglodytes on WN2638
			 not adding from cual Turdus merula on WN2638
			 not adding from cual Turdus philomelos on WN2638
30TWN2837
	 species in vg, species in cual 10 23
			 not adding from cual Aegithalos caudatus on WN2837
		 adding from cual Anthus trivialis on WN2837
		 adding from cual Carduelis chloris on WN2837
			 not adding from cual Certhia brachydactyla on WN2837
		 adding from cual Columba palumbus on WN2837
		 adding from cual Corvus corone on WN2837
		 adding from cual Cuculus canorus on WN2837
		 adding from cual Cyanistes caeruleus on WN2837
			 not adding from cual Dendrocopos major on WN2837
		 adding from cual Emberiza cirlus on WN2837
			 not adding from cual Erithacus rubecula on WN2837
		 adding from cual Fringilla coelebs on WN2837
		 adding from cual Garrulus glandarius on WN2837
		 adding from cual Lophophanes cristatus on WN2837
		 adding from cual Loxia curvirostra on WN2837
			 not adding from cual Parus major on WN2837
		 adding from cual Periparus ater on WN2837
		 adding from cual Phylloscopus ibericus/collybita on WN2837
		 adding from cual Pyrrhula pyrrhula on WN2837
			 not adding from cual Sylvia atricapilla on WN2837
		 adding from cual Troglodytes troglodytes on WN2837
			 not adding from cual Turdus merula on WN2837
			 not adding from cual Turdus philomelos on WN2837
WN2943
	 species in vg, species in cual 10 0
30TWN3039
	 species in vg, species in cual 14 22
			 not adding from cual Aegithalos caudatus on WN3039
		 adding from cual Anthus trivialis on WN3039
		 adding from cual Carduelis cannabina on WN3039
		 adding from cual Carduelis carduelis on WN3039
		 adding from cual Columba palumbus on WN3039
			 not adding from cual Corvus corax on WN3039
		 adding from cual Corvus corone on WN3039
		 adding from cual Cuculus canorus on WN3039
			 not adding from cual Cyanistes caeruleus on WN3039
		 adding from cual Dendrocopos major on WN3039
		 adding from cual Emberiza citrinella on WN3039
			 not adding from cual Erithacus rubecula on WN3039
			 not adding from cual Fringilla coelebs on WN3039
			 not adding from cual Garrulus glandarius on WN3039
		 adding from cual Lullula arborea on WN3039
			 not adding from cual Parus major on WN3039
		 adding from cual Phylloscopus ibericus/collybita on WN3039
			 not adding from cual Sylvia atricapilla on WN3039
		 adding from cual Sylvia cantillans on WN3039
			 not adding from cual Troglodytes troglodytes on WN3039
		 adding from cual Turdus merula on WN3039
			 not adding from cual Turdus philomelos on WN3039
WN2443
	 species in vg, species in cual 3 0
WN2945
	 species in vg, species in cual 6 0
30TWN1746
	 species in vg, species in cual 18 14
		 adding from cual Anas platyrhynchos on WN1746
			 not adding from cual Apus apus on WN1746
		 adding from cual Cettia cetti on WN1746
		 adding from cual Corvus corax on WN1746
		 adding from cual Cuculus canorus on WN1746
			 not adding from cual Emberiza calandra on WN1746
		 adding from cual Fringilla coelebs on WN1746
			 not adding from cual Galerida cristata on WN1746
		 adding from cual Gallinula chloropus on WN1746
		 adding from cual Motacilla flava on WN1746
			 not adding from cual Serinus serinus on WN1746
		 adding from cual Turdus merula on WN1746
		 adding from cual Turdus philomelos on WN1746
		 adding from cual Upupa epops on WN1746
30TWN2943
	 species in vg, species in cual 30 0
WN2249
	 species in vg, species in cual 5 0
30TWN1548
	 species in vg, species in cual 8 10
		 adding from cual Columba palumbus on WN1548
		 adding from cual Corvus corone on WN1548
		 adding from cual Cuculus canorus on WN1548
			 not adding from cual Emberiza cirlus on WN1548
			 not adding from cual Erithacus rubecula on WN1548
		 adding from cual Garrulus glandarius on WN1548
		 adding from cual Parus major on WN1548
		 adding from cual Picus sharpei on WN1548
			 not adding from cual Sylvia atricapilla on WN1548
		 adding from cual Turdus philomelos on WN1548
30TWN1938
	 species in vg, species in cual 20 31
			 not adding from cual Aegithalos caudatus on WN1938
		 adding from cual Apus apus on WN1938
		 adding from cual Buteo buteo on WN1938
		 adding from cual Carduelis cannabina on WN1938
		 adding from cual Carduelis carduelis on WN1938
		 adding from cual Carduelis chloris on WN1938
			 not adding from cual Certhia brachydactyla on WN1938
		 adding from cual Columba palumbus on WN1938
		 adding from cual Cuculus canorus on WN1938
			 not adding from cual Cyanistes caeruleus on WN1938
		 adding from cual Delichon urbicum on WN1938
			 not adding from cual Dendrocopos major on WN1938
		 adding from cual Emberiza cirlus on WN1938
			 not adding from cual Erithacus rubecula on WN1938
			 not adding from cual Fringilla coelebs on WN1938
			 not adding from cual Garrulus glandarius on WN1938
		 adding from cual Merops apiaster on WN1938
			 not adding from cual Parus major on WN1938
		 adding from cual Passer domesticus on WN1938
		 adding from cual Periparus ater on WN1938
		 adding from cual Phylloscopus ibericus/collybita on WN1938
		 adding from cual Pica pica on WN1938
		 adding from cual Picus sharpei on WN1938
		 adding from cual Prunella modularis on WN1938
			 not adding from cual Regulus ignicapilla on WN1938
		 adding from cual Saxicola rubicola on WN1938
			 not adding from cual Serinus serinus on WN1938
			 not adding from cual Sylvia atricapilla on WN1938
			 not adding from cual Troglodytes troglodytes on WN1938
			 not adding from cual Turdus merula on WN1938
		 adding from cual Upupa epops on WN1938
30TWN2736
	 species in vg, species in cual 33 0
30TWN1747
	 species in vg, species in cual 39 0
30TWN2443
	 species in vg, species in cual 41 0
WN2646
	 species in vg, species in cual 4 0
30TWN2842
	 species in vg, species in cual 39 0
30TWN2749
	 species in vg, species in cual 22 23
			 not adding from cual Aegithalos caudatus on WN2749
			 not adding from cual Alauda arvensis on WN2749
		 adding from cual Alectoris rufa on WN2749
		 adding from cual Anthus trivialis on WN2749
			 not adding from cual Caprimulgus europaeus on WN2749
		 adding from cual Carduelis cannabina on WN2749
		 adding from cual Columba palumbus on WN2749
		 adding from cual Corvus corone on WN2749
		 adding from cual Cuculus canorus on WN2749
			 not adding from cual Emberiza cirlus on WN2749
			 not adding from cual Erithacus rubecula on WN2749
		 adding from cual Falco tinnunculus on WN2749
		 adding from cual Galerida cristata on WN2749
		 adding from cual Garrulus glandarius on WN2749
			 not adding from cual Lullula arborea on WN2749
		 adding from cual Luscinia megarhynchos on WN2749
		 adding from cual Muscicapa striata on WN2749
			 not adding from cual Parus major on WN2749
		 adding from cual Picus sharpei on WN2749
		 adding from cual Saxicola rubicola on WN2749
			 not adding from cual Sylvia atricapilla on WN2749
		 adding from cual Sylvia cantillans on WN2749
			 not adding from cual Turdus merula on WN2749
30TWN3439
	 species in vg, species in cual 25 29
			 not adding from cual Aegithalos caudatus on WN3439
			 not adding from cual Anas platyrhynchos on WN3439
		 adding from cual Carduelis carduelis on WN3439
			 not adding from cual Certhia brachydactyla on WN3439
		 adding from cual Columba palumbus on WN3439
		 adding from cual Corvus corone on WN3439
		 adding from cual Cuculus canorus on WN3439
			 not adding from cual Cyanistes caeruleus on WN3439
			 not adding from cual Dendrocopos major on WN3439
		 adding from cual Dendrocopos medius on WN3439
		 adding from cual Dryocopus martius on WN3439
			 not adding from cual Erithacus rubecula on WN3439
			 not adding from cual Fringilla coelebs on WN3439
			 not adding from cual Garrulus glandarius on WN3439
		 adding from cual Hippolais polyglotta on WN3439
		 adding from cual Otus scops on WN3439
			 not adding from cual Parus major on WN3439
		 adding from cual Phylloscopus ibericus/collybita on WN3439
		 adding from cual Picus sharpei on WN3439
		 adding from cual Poecile palustris on WN3439
			 not adding from cual Prunella modularis on WN3439
			 not adding from cual Regulus ignicapilla on WN3439
		 adding from cual Serinus serinus on WN3439
			 not adding from cual Sitta europaea on WN3439
			 not adding from cual Sylvia atricapilla on WN3439
			 not adding from cual Troglodytes troglodytes on WN3439
		 adding from cual Turdus merula on WN3439
			 not adding from cual Turdus philomelos on WN3439
			 not adding from cual Turdus viscivorus on WN3439
30TWN2343
	 species in vg, species in cual 59 25
		 adding from cual Aegithalos caudatus on WN2343
			 not adding from cual Apus apus on WN2343
		 adding from cual Carduelis cannabina on WN2343
		 adding from cual Carduelis chloris on WN2343
		 adding from cual Columba livia on WN2343
			 not adding from cual Columba palumbus on WN2343
			 not adding from cual Corvus corone on WN2343
		 adding from cual Dendrocopos major on WN2343
			 not adding from cual Emberiza cirlus on WN2343
			 not adding from cual Erithacus rubecula on WN2343
			 not adding from cual Fringilla coelebs on WN2343
			 not adding from cual Galerida cristata on WN2343
			 not adding from cual Garrulus glandarius on WN2343
			 not adding from cual Hippolais polyglotta on WN2343
			 not adding from cual Luscinia megarhynchos on WN2343
		 adding from cual Miliaria calandra on WN2343
			 not adding from cual Parus major on WN2343
			 not adding from cual Passer domesticus on WN2343
			 not adding from cual Phoenicurus ochruros on WN2343
		 adding from cual Phylloscopus ibericus/collybita on WN2343
			 not adding from cual Pica pica on WN2343
			 not adding from cual Serinus serinus on WN2343
			 not adding from cual Sylvia atricapilla on WN2343
			 not adding from cual Turdus merula on WN2343
		 adding from cual Turdus philomelos on WN2343
30TWN2636
	 species in vg, species in cual 40 0
30TWN1651
	 species in vg, species in cual 1 20
		 adding from cual Anthus trivialis on WN1651
		 adding from cual Carduelis chloris on WN1651
			 not adding from cual Certhia brachydactyla on WN1651
		 adding from cual Corvus corone on WN1651
		 adding from cual Cuculus canorus on WN1651
		 adding from cual Cyanistes caeruleus on WN1651
		 adding from cual Emberiza cirlus on WN1651
		 adding from cual Erithacus rubecula on WN1651
		 adding from cual Fringilla coelebs on WN1651
		 adding from cual Garrulus glandarius on WN1651
		 adding from cual Milvus migrans on WN1651
		 adding from cual Parus major on WN1651
		 adding from cual Phylloscopus ibericus/collybita on WN1651
		 adding from cual Prunella modularis on WN1651
		 adding from cual Regulus ignicapilla on WN1651
		 adding from cual Sitta europaea on WN1651
		 adding from cual Sylvia atricapilla on WN1651
		 adding from cual Troglodytes troglodytes on WN1651
		 adding from cual Turdus merula on WN1651
		 adding from cual Turdus philomelos on WN1651
30TWN2646
	 species in vg, species in cual 39 0
30TWN2249
	 species in vg, species in cual 48 0
30TWN3038
	 species in vg, species in cual 26 0
30TWN1839
	 species in vg, species in cual 30 0
30TWN2449
	 species in vg, species in cual 45 0
30TWN2741
	 species in vg, species in cual 52 28
			 not adding from cual Anas platyrhynchos on WN2741
			 not adding from cual Anthus trivialis on WN2741
		 adding from cual Carduelis cannabina on WN2741
		 adding from cual Carduelis chloris on WN2741
		 adding from cual Certhia brachydactyla on WN2741
			 not adding from cual Cettia cetti on WN2741
		 adding from cual Columba livia on WN2741
			 not adding from cual Columba palumbus on WN2741
			 not adding from cual Corvus corone on WN2741
		 adding from cual Corvus monedula on WN2741
		 adding from cual Cyanistes caeruleus on WN2741
			 not adding from cual Emberiza cirlus on WN2741
			 not adding from cual Erithacus rubecula on WN2741
			 not adding from cual Fringilla coelebs on WN2741
		 adding from cual Galerida cristata on WN2741
		 adding from cual Garrulus glandarius on WN2741
		 adding from cual Luscinia megarhynchos on WN2741
			 not adding from cual Parus major on WN2741
			 not adding from cual Passer domesticus on WN2741
		 adding from cual Phoenicurus ochruros on WN2741
		 adding from cual Phylloscopus ibericus/collybita on WN2741
			 not adding from cual Pica pica on WN2741
			 not adding from cual Picus sharpei on WN2741
		 adding from cual Pyrrhula pyrrhula on WN2741
			 not adding from cual Serinus serinus on WN2741
			 not adding from cual Sylvia atricapilla on WN2741
			 not adding from cual Turdus merula on WN2741
			 not adding from cual Upupa epops on WN2741
WN2636
	 species in vg, species in cual 9 0
WN2736
	 species in vg, species in cual 12 0
WN3438
	 species in vg, species in cual 2 0
WN1747
	 species in vg, species in cual 3 0
(1236, 3) 166
1070

In [7]:
vg

           UTM               Species observadas    Source
250     WN2741                Pyrrhula pyrrhula  CUAL_ANE
247     WN2741  Phylloscopus ibericus/collybita  CUAL_ANE
246     WN2741             Phoenicurus ochruros  CUAL_ANE
243     WN2741            Luscinia megarhynchos  CUAL_ANE
242     WN2741              Garrulus glandarius  CUAL_ANE
..         ...                              ...       ...
967  30TWN3439               Sylvia atricapilla  ATLAS_VG
968  30TWN3439           Tachybaptus ruficollis  ATLAS_VG
969  30TWN3439          Troglodytes troglodytes  ATLAS_VG
970  30TWN3439                Turdus philomelos  ATLAS_VG
971  30TWN3439                Turdus viscivorus  ATLAS_VG

[1236 rows x 3 columns]

In [8]:
vg.to_excel("output.xlsx")